@page "/"

<PageTitle>Index</PageTitle>

<section>
  <h3 style="color: #d69ef2;">Creating a Profile</h3>
  <ul>
    <li style="color: #f9b9b0;"><b style="color: #b4f08f;">Select Source Folders and Files:</b> Click Enter or on the checkbox to selec. To go inside of a directory use the right arrow, to go to parent folder use the left arrow.</li>
    <li style="color: #f9b9b0;"><b style="color: #b4f08f;">Select Target:</b> Same usage as previous step, but note only one target path can be selected</li>
    <li style="color: #f9b9b0;"><b style="color: #b4f08f;">Backup Name:</b> Must be unique within the directory, without spaces or invalid characters.</li>
    <li style="color: #f9b9b0;"><b style="color: #b4f08f;">Keep Track:</b> Can be enabled/disabled keeping track on modified/newly files from source data anytime.</li>
    <li style="color: #f9b9b0;"><b style="color: #b4f08f;">Keep Structure:</b> Set only at creation. Preserves original folder structure if enabled.</li>
    <li style="color: #f9b9b0;"><b style="color: #b4f08f;">File Explorer:</b> Left Column = current items, cursor is on the selected one, Right = view contents/preview of the current selected document.</li>
  </ul>
  <p style="color: #f3f7ad;">After creation, you will get desktop notifications at 25%, 50%, 75%, and 100%. If the app closes mid-backup, remaining files are updated next launch (if Keep Track is enabled).</p>
</section>

<section>
  <h3 style="color: #d69ef2;">Managing Your Profiles</h3>
  <p style="color: #f3f7ad;">Profiles appear if both source and target are available (e.g., external drive must be connected).</p>
  <ul>
    <li style="color: #f9b9b0;"><b style="color: #b4f08f;">Update:</b> Appears if files are modified/added and Keep Track is enabled.</li>
    <li style="color: #f9b9b0;"><b style="color: #b4f08f;">Delete Backup:</b> Removes both metadata and backup folder.</li>
    <li style="color: #f9b9b0;"><b style="color: #b4f08f;">Delete Metadata:</b> Removes only metadata so the app forgets the backup.</li>
    <li style="color: #f9b9b0;"><b style="color: #b4f08f;">Keep Track of Updates:</b> Toggle automatic detection of changes.</li>
  </ul>
  <p style="color: #f3f7ad;">Detection speed varies with the amount of data — please be patient.</p>
</section>
